html, body {
  background-color: #eee;
  font-family: Catamaran, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  margin: 2%;
  font-size: 2rem;
  font-weight: 700;
}
p {
  margin: 2%;
}
a {
  color: black;
  text-decoration: none;
}

/*Generic helpers*/
.half-width {
  width: 50%;
  padding: 2%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear-fix {
  clear:both;
}
.subtle-link{
  margin:0 1rem;
  color:#444;
  font-size: 1rem;
  font-style: italic;
}

/*Public view*/
.blog-header {
  text-align: center;
}

.blog-nav {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
}
.blog-nav-item {
  margin: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
}

/*Login view*/
.login {
  margin: 4rem auto;
  width: 50%;
  text-align: center;
}
.login-form {
  font-size: 2rem; 
}
.login-form input {
  margin: 0.5rem;
}

/*Admin view*/
.form-field {
  width: 98%;
  margin: 1%;
  font-size: 1.25rem;
  font-family: Georgia;
}

.body-box {
  height: 50vh;
}

.error-message {
  color: red;
  font-style: italic;
}

.post-summary {
  font-size: 1rem;
  list-style: none;
}

.post-summary button {
  font-size: 1.25rem;
  margin: 0.25rem;
}

.post-summary:hover {
  cursor: pointer
}

.post-info {
  display: inline-block;
}


#post-preview {
  position: fixed;
  top: 2%;
  left: 15%;
  width: 70%;
  height: 96vh;
  z-index: 999;
  background-color: aliceblue;
  border: 1px solid #ddd;
  overflow: auto;

}

.image-content {
  margin: 1% auto;
  max-height: 40vh;
  max-width: 98%;
  display: block;
}

.close-x {
  margin: 1%;
  font-size: 5rem;
  line-height: 0.5em;
}

.close-x:hover {
  cursor: pointer;
}

