html, body{
  background-color: #eee;
  font-family: Catamaran, sans-serif;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1{
  font-size:3rem;
  font-weight: 700;
  margin:1rem 0;
}
h2{
  font-size:2rem;
  font-weight: 700;
  margin:2%;
}
p {
  margin:2%;
}

.half-width {
  width:50%;
  padding:2%;
}
.left{
  float:left;
}
.right{
  float:right;
}

.form-field{
  width:98%;
  margin:1%;
  font-size:1.25rem;
  font-family:Georgia;
}
.body-box{
  height:50vh;
}
.error-message{
  color:red;
  font-style: italic;
}

.post-summary {
  font-size:1rem;
  list-style: none;
}

.post-summary button{
  font-size:1.25rem;
  margin:0.25rem;
}

.post-summary:hover{
  cursor: pointer
}

.post-info{
  display:inline-block;
}


#full-post{
  position:fixed;
  top:2%;
  left:15%;
  width:70%;
  height:96vh;
  z-index: 999;
  background-color: aliceblue;
  border:1px solid #ddd;
  overflow: auto;

}

.image-content{
  margin:1% auto;
  max-height: 40vh;
  max-width: 98%;
  display:block;
}

.close-x{
  margin:1%;
  font-size: 5rem;
  line-height: 0.5em;
}

.close-x:hover{
  cursor: pointer;
}

.admin-link {
  top: 8rem;
  font-size: 5rem;
  text-align: center;
}

