html, body{
  background-color: #eee;
  font-family: Catamaran, sans-serif;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.half-width {
  width:50%;
  padding:2%;
}
.left{
  float:left;
}
.right{
  float:right;
}

.form-field{
  width:98%;
  margin:1%;
}
