.slide-appear {
  top: -100px;
  transition: top 1s ease-out;
  transition-delay: 3s;
}
.slide-appear.slide-appear-active {
  top: 0;
}



.fade-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in; 
  transition-delay: 4s;
}

.fade-appear.fade-appear-active {
  opacity: 1;
}


.fade-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in; 
  transition-delay: 0.5s;
}

.fade-enter.fade-enter-active { 
  opacity: 1;
}

.fade-leave {
  transition: all 0.5s ease-in; 
}

.fade-leave.fade-leave-active {
  visibility: hidden
}

